.top-nagivation {
    width: 100%;
}

#show {
    z-index: 2;
    position: fixed;
    transition: all 0.2s ease-in;
    top: 0;
    left: 0;
    right: 0;
}

#hide {
    z-index: 2;
    position: fixed;
    transition: all 0.2s ease-in;
    top: -40px;
    left: 0;
    right: 0;
}

// @keyframes showNavigation {
//     from {
//         transform: translateY(-100px);
//     }
//     to {
//         transform: translateY(0);
//     }
// }

.navigation-banner {
    width: 100%;
    height: 40px;
    padding: 0 24px;
    background-color: rgb(33, 33, 33);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider {
        display: inherit;
        align-items: center;
        span {
            color: #ffffff;
        }
        img {
            position: absolute;
            width: 40px;
            height: 40px;
            filter: invert(100);
            padding: 14px;
            top: 0;
            right: 270px;
            cursor: pointer;
        }
    }
}

.navigation-bar {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 0.09) 0px 2px 24px 0px;
    position: relative;
    .logo {
        position: absolute;
        top: 0;
        left: calc(50% - 50px);
        height: 100%;
        display: flex;
        align-items: center;
    }
    .navigation-bar_item {
        margin-left: 12px;
        display: flex;
        align-items: center;
        svg {
            width: 38px;
            padding-left: 14px;
            cursor: pointer;
        }
        svg + svg {
            width: 42px;
            padding-left: 18px;
            &:last-child {
                padding: 0 9px;
                margin: 0 30px 0 12px;
            }
        }
        .sale {
            color: #ad1f00;
        }
    }
    button {
        background-color: transparent;
        min-height: 42px;
        min-width: 42px;
        margin-left: 18px;
        padding: 0 8px;
    }
    p {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            text-decoration: underline 1px;
        }
    }
}

.footer {
    background-color: #212a2f;
    padding: 72px 0;
    .footer-wrapper {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        .footer_item {
            width: 100%;
            margin-bottom: 72px;
            display: flex;
            &:first-child {
                display: unset;
            }
            label {
                display: block;
                font-size: 16px;
                color: #fff;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 6px;
            }
            .footer_content {
                width: 25%;
                a {
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    text-decoration: none;
                }
                li {
                    line-height: 15.2px;
                    margin-bottom: 12px;
                    cursor: pointer;
                }
            }
        }
        .email-wrapper {
            width: 33.3333333333333%;
            margin-bottom: 18px;
        }
        h3 {
            color: #fff;
            font-size: 15px;
            line-height: 21px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 18px;
        }
        .footer_external-property {
            display: flex;
            margin-bottom: 72px;
            li {
                display: unset;
                margin-right: 24px;
                img {
                    width: 18px;
                    height: 16.69px;
                }
            }
            p {
                margin-bottom: 18px;
                font-size: 14px;
                line-height: 18px;
                color: #fff;
            }
            .property_left {
                width: 25%;
            }
            .property_center {
                width: 25%;
                display: flex;
                justify-content: center;
                img {
                    cursor: unset;
                }
                a {
                    cursor: unset;
                }
            }
            .property_right {
                flex-grow: 1;
                img {
                    width: 37px;
                    height: 22px;
                }
            }
        }
        .footer_privacy {
            margin-bottom: 18px;
            text-align: center;
            font-size: 14px;
            line-height: 15.2px;
            span {
                display: block;
                margin-bottom: 28px;
                color: #fff;
            }
            button {
                background-color: transparent;
                color: #fff;
                border: none;
                text-decoration: underline;
                cursor: pointer;
            }
            a {
                cursor: pointer;
                color: #fff;
            }
        }
    }
}
